body {
    background-color: grey;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
}

.bggreen {
    background-color: aquamarine;
}

.logo {
    margin: 0;
    padding: 25px;
    font-size: 350%;
    background-color: blue;
}
header {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    align-items: center;
    border: 2px solid purple;
    background-color: #fff;
    margin-bottom: 60px;
    margin-top: 60px;
}

.infopic {
    border: 2px solid blue;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
}

ul > li > a {
    display: flex;
    padding: 20px;
    background-color: yellow;
    margin: 0;
}

.info {
    display: flex;
    gap: 20px;
}

.contact {
    display: flex;
    gap: 40px;
}

.featured {
    border: 2px solid cyan;
    background-color: #fff;
}

.foo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hairstyle {
    display: flex;
    flex-direction: column;
}

.baldman {
    display: flex;
}